

.container-card-presentacion {

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Euclid Circular A", "Poppins";
  margin-bottom: 50px;
} 


.card {
  background: linear-gradient(0deg, rgba(17,91,92,1) 0%, rgba(0,133,100,1) 100%);
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 650px;
  padding: 50px 30px 50px 20px;
  border-radius: 24px;
}

.card img {
  object-fit: cover;
  max-width: 280px;
  width: 28vw;
  height: 300px;
  object-fit: cover;
  margin-left: -60px;
  margin-right: 30px;
  border-radius: inherit;
  -webkit-box-shadow: -25px 20px 22px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -25px 20px 22px 0px rgba(0,0,0,0.75);
  box-shadow: -25px 20px 22px 0px rgba(0,0,0,0.75);

}

.card h2 {
  font-size: 22px;
  font-family: 'Signika Negative', sans-serif;
  margin-right: 30px;
  color: white;
}

.card h3 {
  font-size: 18px;
  font-weight: 400;
  color: white;
  font-family: 'Signika Negative', sans-serif;
}

.card p {
  font-size: 16px;
  font-weight: 400;
  color: white;
  margin-bottom: 24px;
  font-family: 'Signika Negative', sans-serif;
}

.card button {
  border: 0;
  font-family: 'Signika Negative', sans-serif;
  font-size: 16px;
  background: white;
  color: rgba(17,91,92,1);
  font-family: inherit;
  padding: 16px 26px;
  font-size: 16px;
  border-radius: 40px;
  cursor: pointer;
  text-decoration: none;
}

.card button:hover {
  background-color: rgb(43, 163, 133);
  transition: background-color 1s;
}

.boton-conocenos-mas {
  text-decoration: none;
  color: inherit;
  color: rgba(17,91,92,1) 0%;
}

@media (width <= 740px) {
  .card {
    margin: 0 40px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    text-align: center;
    flex-direction: column;
  }

  .card h2 {
    margin-right: 0;
    font-size: 26px;
  }

  .card img {
    object-fit:fill;
    margin: -100px 0 30px 0;
    width: 100%;
    max-width: 1000px;
  }
}

@media (min-width:360px) and (max-width:460px) {

  @media (max-width: 427px) {
    .card {
      margin: 0;
      display: flex;
      justify-content: center;
    }
  }
}