.container-footer {
    color: white;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(17,91,92,1) 0%, rgba(0,133,100,1) 100%);
    overflow-x: hidden;

}

.container-footer h2 {
    color: white;
    font-size: 30px;
}

.group-items-footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
}

.group-tel-email {
    display: flex;
    flex-direction: column;
}

.item-tel-email {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.item-tel-email .ico-footer {
    width: 25%;
}
.item-tel-email p {
    margin-left: 15px;
    width: 75%;
}

.ico-footer img {
    width: 40px;
    height: 40px;
    padding: 3px 10px 3px 10px;
    background-color: white;
    border-radius: 50%;
    margin: 0 6px;
    -webkit-box-shadow: -8px 10px 54px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 10px 54px 0px rgba(0,0,0,0.75);
    box-shadow: -8px 10px 54px 0px rgba(0,0,0,0.75);
}

.ico-footer img:hover {
    background-color: rgb(43, 163, 133);
    transition: background-color 1s;
    cursor: pointer;
}

.item-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.redes-sociales-footer {
    display: flex;
    flex-direction: column;
}
.group-redes-sociales-footer {
    display: flex;
    flex-direction:column;
}

.item-red-social {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

@media (max-width: 735px) {

    .group-items-footer {
        margin: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
    }

    .item-footer {
        width: 100%;
    }

    .item-footer .ico-footer {
        display: flex;
        width: 20%;
        justify-content: center;
        align-items: center;
    }
    .item-footer .texto-direccion {

        width: 80%;
    }

    .group-tel-email {
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .item-tel-email {
        transform: translateX(-10px);
    }
    .item-tel-email p {
        margin-left: 0;
    }

    .group-redes-sociales-footer {
        width: 100%;
    }

    .group-redes-sociales-footer .item-red-social .ico-footer {
        width: 20%;
    }
    .group-redes-sociales-footer .item-red-social p {
        width: 80%;
    }


    
}


