body {
    margin: 0;
    padding: 0;
    min-width: 410px;
    background-image: url("../img/textura.jpg");
    overflow-y: scroll;
    /*Thumb color and background color for firefox */
    scrollbar-color: #00c6ff #242942;
    overflow-x: none;
    
}
/*font-family: 'Anton', sans-serif;*/
/*font-family: 'Signika Negative', sans-serif;*/

/*---- Scroll bar ---*/
.sub-div {
    max-height: 100vh;
    overflow-y: scroll;
    /*Thumb color and background color for firefox */
    scrollbar-color: #00c6ff #242942;
    overflow-x: none;
  }
  /*  ::-webkit- is for chrome */
  ::-webkit-scrollbar {
    width: 1.2em;
    overflow-x: none;
  }
  ::-webkit-scrollbar-track {
    background: linear-gradient(0deg, rgba(17,91,92,1) 0%, rgba(0,133,100,1) 100%);

 
  }
  ::-webkit-scrollbar-thumb {
    background: #00c6ff;
    background: -webkit-linear-gradient(to right, #00c6ff, #0072ff);
    background: linear-gradient(to right, #00c6ff, #0072ff);
    border-radius: 0.3em;
  }
  
/*Fin scroll bar*/
.container-header {
    display: flex;
    justify-content: left;
    background: linear-gradient(0deg, rgba(17,91,92,1) 0%, rgba(0,133,100,1) 100%);
    color: aliceblue;
}

.container-header {
    display: flex;
    flex-direction: column;

}

.group-header {
    transform: translateY(20px);
    display: flex;
    flex-direction: row;
}

.group-header img {
    margin-left: 7px;
    padding: 6px;
    padding-right: 10px;
    border-radius: 60%;
    width: 150px;
    height: 130px;
    -webkit-box-shadow: -25px 20px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -25px 20px 22px 0px rgba(0,0,0,0.75);
    box-shadow: -25px 20px 22px 0px rgba(0,0,0,0.75);
}

.group-header div {
    align-items: center;
    display: flex ;
    flex-direction: column;
}

.group-header div h3 {
    transform: translateY(-15px);
}

.navbar-links ul li {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 500;
}

.group-text-header {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.group-text-header h2 {
    font-size: 30px;
    font-style: oblique;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;

}

.group-text-header h3 {
    font-style: oblique;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;


}

.container-section {
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.division-titulo {

    width: 90%;
    background-color: transparent;
    margin-bottom: 35px;
    padding-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondo-division-titulo {
    border-radius: 45%;
    width: 400px;
    height: 100px;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(140,140,140,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}


.fondo-division-titulo h1 {
    font-style: oblique;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    color: rgba(17,91,92,1);
    font-size: 35px;
    margin: 6px;
}

.fondo-division-titulo img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    -webkit-box-shadow: -8px 7px 23px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 7px 23px -1px rgba(0,0,0,0.75);
    box-shadow: -8px 7px 23px -1px rgba(0,0,0,0.75);
}

.fondo-division-titulo .logo-1 {
    transform: translateX(-30px);
}
.fondo-division-titulo .logo-2 {
    transform: translateX(30px);
}
.fondo-division-titulo .logo-3 {
    transform: translateX(-50px);
}
.fondo-division-titulo .logo-4 {
    transform: translateX(50px);
}

@media (max-width: 740px) {
    .container-section {
        margin-top: 80px;
    }

    .quienes-somos {
        margin-bottom: 105px;
    }


}

@media (max-width: 600px) {
    .group-header {
        transform: translateY(0px);
    }
    .group-header div h3 {
        max-width: 271px;
        transform: translate(-20px, -30px);
    }

}