body {
    margin: 0;
    padding: 0;
    min-width: 438px;
    background-image: url("../img/textura.jpg");
    overflow-y: scroll;
    /*Thumb color and background color for firefox */
    scrollbar-color: #00c6ff #242942;
    overflow-x: none;
    
}

.float-wp {
    position: fixed;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    bottom: 60px;
    right: 25px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 999;

}

.float-wp:hover {
    background-color: #28e76e;
}

.fa-whatsapp {

    font-size: 60px;

}



/*---- Scroll bar ---*/
.sub-div {
    max-height: 100vh;
    overflow-y: scroll;
    /*Thumb color and background color for firefox */
    scrollbar-color: #00c6ff #242942;
    overflow-x: none;
  }
  /*  ::-webkit- is for chrome */
  ::-webkit-scrollbar {
    width: 1.2em;
    overflow-x: none;
  }
  ::-webkit-scrollbar-track {
    background: linear-gradient(0deg, rgba(17,91,92,1) 0%, rgba(0,133,100,1) 100%);

 
  }
  ::-webkit-scrollbar-thumb {
    background: #00c6ff;
    background: -webkit-linear-gradient(to right, #00c6ff, #0072ff);
    background: linear-gradient(to right, #00c6ff, #0072ff);
    border-radius: 0.3em;
  }
  
/*Fin scroll bar*/
.container-header {
    display: flex;
    justify-content: left;
    background: linear-gradient(0deg, rgba(17,91,92,1) 0%, rgba(0,133,100,1) 100%);
    color: aliceblue;
}

.container-header {
    display: flex;
    flex-direction: column;

}

.group-header {
    transform: translateY(20px);
    display: flex;
    flex-direction: row;
}

.group-header img {
    background: #fff;
    border-radius: 10%;
    object-fit: contain;
    margin: 20px;
    width: 150px;
    height: 150px;
    -webkit-box-shadow: -25px 20px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -25px 20px 22px 0px rgba(0,0,0,0.75);
    box-shadow: -25px 20px 22px 0px rgba(0,0,0,0.75);
}

.group-header div {
    align-items: center;
    display: flex ;
    flex-direction: column;
}

.group-header div h3 {
    transform: translateY(-15px);
}

.navbar-links ul li {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 500;
}

.group-text-header {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.group-text-header h2 {
    font-size: 40px;
    font-style: oblique;
    font-family: 'Merriweather', serif;
    letter-spacing: 2px;


}

.group-text-header h3 {
    font-style: oblique;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
 ;


}

.container-section {
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    animation: aparecer 1s ease;
}

article, footer {
    animation: aparecer .5s ease-in;
}

.video-services {
    width: 200px;
    height: 200px;
}

@media (max-width: 740px) {
    .container-section {
        margin-top: 80px;
    }

    .quienes-somos {
        margin-bottom: 105px;
    }
}



@media (max-width: 600px) {
    .group-header {
        transform: translateY(0px);
    }
    .group-header div h3 {
        width: 271px;
        transform: translate(-20px, -30px);
    }

}

@media (max-width: 461px) {
    .group-header div h3 {
        font-size: 25px;
        transform: translate(-180px,-30px);


    }
}

@keyframes aparecer {
    
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}