
body {


    min-width: 360px;
    padding: 0;
    margin: 0;
    background-image: url("../img/textura.jpg");
    overflow-y: scroll;
    /*Thumb color and background color for firefox */
    scrollbar-color: #00c6ff #242942;
    overflow-x: none;
    font-family: 'Lato', sans-serif;
    
}

.float-wp {
    position: fixed;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    bottom: 60px;
    right: 25px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 999;

}

.float-wp:hover {
    background-color: #28e76e;
    cursor: pointer;
}

.float-wp .group-wp-sucursal {
    display:none;
    position: absolute;
    bottom: -45px;
    right: 80px;

}


.float-wp .group-wp-sucursal a .item-sucursal-wp {
    background-color: #25d366;
    font-size: 18px;
    border-radius: 10%;
    padding: 5px;
    margin: 5px 2px 5px 0;
    border: 3px solid #fff;
    color: #fff;
    animation: aparecer .5s ease-in;
}

.float-wp .group-wp-sucursal a .item-sucursal-wp:hover {
    background-color: #28e76e;
}

.float-wp .group-wp-sucursal a {
    text-decoration: none;
}
.fa-whatsapp {

    font-size: 60px;

}



/* ---- Scroll bar ---*/

.sub-div {
    max-height: 100%;
    overflow-y: scroll;
    /*Thumb color and background color for firefox */
    scrollbar-color: #00c6ff #242942;
    overflow-x: none;
  }
  /*  ::-webkit- is for chrome */
  ::-webkit-scrollbar {
    width: 1.2em;
    overflow-x: none;
  }
  ::-webkit-scrollbar-track {
    background: linear-gradient(0deg, rgba(17,91,92,1) 0%, rgba(0,133,100,1) 100%);

 
  }
  ::-webkit-scrollbar-thumb {
    background: #00c6ff;
    background: -webkit-linear-gradient(to right, #00c6ff, #0072ff);
    background: linear-gradient(to right, #00c6ff, #0072ff);
    border-radius: 0.3em;
  }
  
/*Fin scroll bar */
.container-header {

    width: 100%;
    margin: 0;
    background: linear-gradient(0deg, rgba(17,91,92,1) 0%, rgba(0,133,100,1) 100%);
    color: aliceblue;
}

.grid-header {
    display: grid;
    grid-template-columns: minmax(100px,1fr) minmax(200px, 1fr);
    grid-template-rows: 240px;
    align-items: center;
    justify-content: center;
}

.container-header img {

    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background: #fff;
    border-radius: 10%;
    object-fit: contain;
    margin: 20px;
    width: 150px;
    height: 150px;
    -webkit-box-shadow: -25px 20px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -25px 20px 22px 0px rgba(0,0,0,0.75);
    box-shadow: -25px 20px 22px 0px rgba(0,0,0,0.75);
}




.navbar-links ul li {

    font-weight: 500;

}

.group-text-header {
    text-align: left;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.group-text-header h2 {
    font-size: 40px;
    font-style: oblique;

    letter-spacing: 2px;


}

.container-section {
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    animation: aparecer 1s ease;
}

article, footer {
    animation: aparecer .5s ease-in;
}

.video-services {
    width: 200px;
    height: 200px;
}

@media (max-width: 740px) {
    .container-section {
        margin-top: 80px;
    }

    .quienes-somos {
        margin-bottom: 105px;
    }
}



@media (min-width: 501px) {



    .grid-header {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .grid-header .group-text-header h3 {

        width: 300px;

    }


    .float-wp {

        width: 60px;
        height: 60px;
        background-color: #25d366;

    }

    .fa-whatsapp {

        font-size: 60px;
        bottom: 30px;
    
    }

    .float-wp .group-wp-sucursal a .item-sucursal-wp {
        font-size: 14px;
        margin: 5px -10px 5px 0;

    }

}

@media (min-width: 565px) and (max-width: 600px) {

    .float-wp {

        width: 60px;
        height: 60px;
        background-color: #25d366;

    }

    .fa-whatsapp {

        font-size: 60px;
        bottom: 30px;
    
    }

    .float-wp .group-wp-sucursal a .item-sucursal-wp {
        font-size: 16px;
        margin: 5px -10px 5px 0;

    }
}

@media (min-width:601px) and (max-width: 704px) {
    .grid-header .group-text-header h2 {

        width: 433px;
    }
}
@media (min-width:515px) and (max-width:600px) {

    .grid-header .group-text-header h2 {

        font-size: 36px;
    }

}
@media (min-width:501px) and (max-width:514px) {

    .grid-header .group-text-header h2 {

        font-size: 36px;
    }
}

@media (min-width: 461px) and (max-width:500px) {
    .grid-header img {
        transform: translate(15px,-20px);
        width: 140px;
        height: 140px;
    }

    .grid-header .group-text-header h2 {
        transform: translate(-15px,-20px);
        font-size: 35px;
    }


    .float-wp {

        width: 60px;
        height: 60px;
        background-color: #25d366;

    }

    .fa-whatsapp {

        font-size: 60px;
        bottom: 30px;
    
    }

    .float-wp .group-wp-sucursal a .item-sucursal-wp {
        font-size: 16px;
        margin: 5px -10px 5px 0;

    }


}

@media (min-width: 391px) and (max-width:460px) {
    .grid-header img {
        transform: translate(15px,-20px);
        width: 125px;
        height: 125px;
    }
    .grid-header .group-text-header h2 {
        font-size: 30px;
        transform: translate(-15px,-20px);
    }

    .float-wp {

        width: 50px;
        height: 50px;
        background-color: #25d366;

    }

    .fa-whatsapp {

        font-size: 50px;
        bottom: 30px;
    
    }

    .float-wp .group-wp-sucursal a .item-sucursal-wp {
        font-size: 15px;
        margin: 5px -25px 5px 0;

    }
}

@media (min-width:360px) and (max-width:390px) {
        
        .grid-header img {
            transform: translate(15px,-30px);
            width: 120px;
            height: 120px;
        }

        .grid-header .group-text-header h2 {
            font-size: 28px;
            transform: translate(10px,-30px);
        }

        .float-wp {

            width: 45px;
            height: 45px;
            background-color: #25d366;

        }

        .fa-whatsapp {

            font-size: 45px;
            bottom: 30px;
        
        }

        .float-wp .group-wp-sucursal a .item-sucursal-wp {
            font-size: 14px;
            margin: 5px -25px 5px 0;

        }
        
    

}

@keyframes aparecer {
    
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}