

.navbar {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    color: white;
}


.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
background-color: rgb(43, 163, 133);
border-radius: 5px;
transition: background-color 1s;
}

.toggle-button {
  left: 86%;
  top: -50px;
  position: absolute;
  display: none;
}

/*Boton Burger*/

svg {
  height: 58px;
  position: absolute;
  width: 58px;
}
.plates {
  display: flex;
  flex-wrap: wrap;
  max-height: 160px;
  width: 640px;
}

.plate {
  height: 58px;
  width: 58px;
}
.burger {
  filter: url(#gooeyness);
}
.x {
  transform: scale(0);
  transition: transform 400ms;
}
.line {
  fill: none;
  stroke: white;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform-origin: 50%;
  transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
}
.x .line {
  stroke-width: 5.5px;
}

.plate4 .x {
  transition: transform 400ms;
}
.plate4 .line {
  transform-origin: 50%;
  transition: transform 400ms 100ms;
}
.active.plate4 .line {
  transition: transform 400ms;
}
.active.plate4 .line1 {
  transform: translateX(18px) translateY(-3px) rotate(-45deg) scale(.7);
}
.active.plate4 .line2 {
  transform: translateX(-18px) translateY(-3px) rotate(45deg) scale(.7);
}
.active.plate4 .line3 {
  transform: translateY(0px) rotate(45deg) scale(.7);
}
.active.plate4 .line4 {
  transform: translateY(0px) rotate(-45deg) scale(.7);
}
.active.plate4 .line5 {
  transform: translateX(18px) translateY(3px) rotate(45deg) scale(.7);
}
.active.plate4 .line6 {
  transform: translateX(-18px) translateY(3px) rotate(-45deg) scale(.7);
}
.active.plate4 .x {
  transition: transform 400ms 100ms;
  transform: scale(1);
}

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }
    .navbar-links {

      display: none; 
      width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        

    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
        animation: desplegar-menu .3s ease-in;
    }
    .navbar-links.inactive {
      display: flex;
      animation: ocultar-menu .3s ease-in;
    }
}

@keyframes desplegar-menu {
  0% {
    height: 0;
  }
  100% {
    height: 102px;
  }
}
@keyframes ocultar-menu {
  0% {
    height: 102px;
  }
  100% {
    height: 0px;
  }
}