@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap");
.container-galeria-servicios {
	margin-top: 35px;
	margin-bottom: 55px;
	width: 95%;
	font-family: "Jost", sans-serif;
	padding: 1rem;
	display: grid;
	place-items: center;
	border-radius: 30px;
	background: linear-gradient(0deg, rgba(17,91,92,1) 0%, rgba(0,133,100,1) 100%);
}


.vid-servicios {
	position: relative;

	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translate3d(100%, 0, 0);
	transition: transform 550ms;
	pointer-events: none;
}

.img-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.grid {
	--track: 1;
	display: grid;
	max-width: 85rem;
	width: 100%;
	transition: grid-template 300ms;
}

.item {
	--i: 0.5rem;
	--c1: deeppink;
	--c2: orange;
	border: 1px double rgba(17,91,92,1);
	/* background-image: url("../img/logo.jpg"); */
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(140,140,140,1) 100%);
	/* background: repeating-linear-gradient(var(--a, 45deg), var(--c1), var(--c1) var(--i), var(--c2) var(--i), var(--c2) calc(var(--i) * 2)); */
	display: grid;
	place-items: center;
	grid-template: 1fr / 1fr var(--innerTrack, 0);
	overflow: hidden;
	aspect-ratio: 8 / 3;
	transition: filter 200ms;
}

.item:hover {
	grid-template: 1fr / 1fr var(--innerTrack, 0);
}

/* .item:hover img {
	opacity: 1;
	transform: translate3d(0, 0, 0);
} */

.item:hover video {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

.item:nth-child(2),
.item:nth-child(3) {
	background: linear-gradient(rgba(140,140,140,1) 100%), 0deg, rgba(255,255,255,1) 0%;
	
}

.item:nth-child(3) {
	--p: 50% 0;
	--c1: cornflowerblue;
}

.item:nth-child(4) {
	--a: -45deg;
	--c1: cornflowerblue;
	--c2: turquoise;
}

.item p {
	text-align: center;
	background: linear-gradient(0deg, rgba(17,91,92,1) 0%, rgba(0,133,100,1) 100%);
	color: white;
	padding: 0.5rem 0.75rem;
	font-size: clamp(1.1rem, 5vmin, 2.8rem);
	transition: opacity 300ms;
	border-radius: 10px;
	min-width: 100px;
	-webkit-box-shadow: -9px 16px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -9px 16px 15px 0px rgba(0,0,0,0.75);
	box-shadow: -9px 16px 15px 0px rgba(0,0,0,0.75);
}

.grid:has(.item:first-child:hover) .item:not(:first-child),
.grid:has(.item:nth-child(2):hover) .item:not(:nth-child(2)),
.grid:has(.item:nth-child(3):hover) .item:not(:nth-child(3)),
.grid:has(.item:nth-child(4):hover) .item:not(:nth-child(4)) {
	filter: grayscale(10%) brightness(250%) contrast(30%);
}

.grid:has(.item:first-child:hover) .item:not(:first-child) p,
.grid:has(.item:nth-child(2):hover) .item:not(:nth-child(2)) p,
.grid:has(.item:nth-child(3):hover) .item:not(:nth-child(3)) p,
.grid:has(.item:nth-child(4):hover) .item:not(:nth-child(4)) p {
	opacity: 0;
}

@media (min-width: 50em) {
	.grid {
		grid-template: 1fr 1fr / 1fr 1fr;
		aspect-ratio: 2 / 1;
	}
	
	.item {
		aspect-ratio: auto;
	}
	
	.grid:has(.item:first-child:hover) {
		grid-template: var(--track) 1fr / var(--track) 1fr;
	}

	.grid:has(.item:nth-child(2):hover) {
		grid-template: var(--track) 1fr / 1fr var(--track);
	}

	.grid:has(.item:nth-child(3):hover) {
		grid-template: 1fr var(--track) / var(--track) 1fr;
	}

	.grid:has(.item:nth-child(4):hover) {
		grid-template: 1fr var(--track) / 1fr var(--track);
	}
}